**/.DS_Store
**fd8ddf2d-1c36-468b-aa3a-c7eb68c7b06d.zip
**_correlations_*.tsv
**_correlations_*.json
**clustered.pdf
**/data/yeast_mct1_rnaseq_spqn_cor.tsv
**/rna_cancer_sample.tsv
**/notebooks/refine_bio_all.tsv
**/data/mct1_mct1sit4_rnaseq_tpm25_spqn_cor.tsv
**/data/refine_bio_all.tsv
**/data/refine_bio_all_spqn_cor.tsv
**/data/refine_bio_wt.tsv
**/data/refine_bio_wt_spqn_cor.tsv
**/tcga_classic/rna_cancer_sample.tsv
**/tcga_classic/CRISPR_gene_effect.csv
**/tcga_classic/org.Hs.eg.db_3.14.0.tar.gz
**/tcga_firehose/**
**/MNS_toolbox-master
**/single_cell/GSE148071_data/**
**/single_cell/GSE99254_NSCLC.TCell.S12346.TPM.txt.gz
**/single_cell/GSE131907_Lung_Cancer_cell_annotation.txt
**/single_cell/GSE131907_Lung_Cancer_Feature_Summary.xlsx
**/single_cell/GSE131907_Lung_Cancer_normalized_log2TPM_matrix.txt
**/single_cell/GSE131907_Lung_Cancer_raw_UMI_matrix.txt.gz
**/single_cell/GSE148071_RAW.tar
**.h5ad
**/single_cell/Marker_genes.csv
**/metaboverse-cli-windows.exe
**/lung_graphs
**/mct1_graphs
**/node_modules
*.mzml
**/data/mct1_tracing_data/raw_data/Jordan_Raw_tracing.zip
**/CRISPR_gene_effect.csv
**/*.tiff